h1 {
    text-align: left;
    background-color: black;
    color:aqua;
    font-size: large;
    font-style: bold;
}

.white{
    color: white;
}

h2 {
    text-align: center;
    background-color: rebeccapurple;
    color: white;
    font-size: large;
    font-style: italic;
}

h3 {
    background-color: lightblue;
    color: black;
    text-align: right;
    text-decoration: underline;
}