* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family:'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}


.container {
    max-width: 1000px;
    margin: 0px auto;
    display:flex;
    flex-direction: column;
    justify-content: center;

.header {
    min-height: 50px;
    height: 7rem;
    margin-bottom: 1rem;
    width: 100%;
    background-color: #a9a9a9;
    border: 2px solid black;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.main_body {
    height: 46rem;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;

}

.box1 {
    height: 17rem;
    width: 60%;
    margin-bottom: 2rem;
    border: 2px solid black;
    display: flex; 
    justify-content: space-between;
}

.box2 {
    height: 17rem;
    width: 60%;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
}

.box3{
    height: 14rem;
    width: 35%;
    border: 2px solid  black;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: x-large;

}

.Page_Name {
    height: 80%;
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: xx-large;
}

.Search_bar {
    height: 2rem;
    width: 20rem;
    border: 3px solid black;
}

.Login {
    height: 50%;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.login-button {
    height: 60%;
    width: 50%;
    background: #6495ed;
    border: 3px solid black;
    box-shadow: 6px 5px 10px black;
    font-size: large;
    color: white
}

.bar {
    height: 100%;
    width: 100%;
    font-size: 20px;
}

.box1_left {
    height: 100%;
    padding-left: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.box1_right {
    height: 100%;
    padding-left: 3rem;
    flex: 3;
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 23px;
}

.descriptor {
    flex:3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.box_button {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_word {
    font-size: 60px;
}

.like_button {
    width: 80%;
    height: 2.5rem;
    font-size: large;
    background-color: #eac802;
    border: 2px solid black;
    box-shadow: 5px 7px 5px black;
}

.definition_button {
    height: 20%;
    width: 90%;
    background-color: #00B588;
    font-size: x-large;
    border: 2px solid black;
    box-shadow: 5px 7px 5px black;
}


}